.App {
  text-align: center;
}

.second-leader{
  background-color: #bb1919;
  margin-bottom: 3%;
  padding-top: 5%;
  font-family: "sans-serif";
  font-weight: bolder;
 text-decoration: underline;
  color: aliceblue;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;

}

